<div class="text-center py-5">
  <h1 class="display-4 mt-3">Pago Fallido</h1>
  <p class="lead"><%= message %></p>
  <a href="/checkout" class="btn btn-primary mr-2">Intentar nuevamente</a>
  <a href="/cart" class="btn btn-outline-secondary">Volver al carrito</a>
</div>